<%- include ('./head') %>
<link rel="stylesheet" href="/css/pages/tofu.css">

<body>
    <%- include ('./header') %>
    <div class="wrap_tofu">
        
        <!--visual-->
        <div class="visual_tofu">
            <div class="background_tofu">

                <div class="visual_text_tofu">

                    
                    <div class="explain_tofu">
                        <p>
                            #출소후첫식사 #밭에나는쇠고기
                        </p>
                        <h2>
                            두부
                        </h2>
                        <h3>
                            tofu
                        </h3>
                    <div class="dates_tofu">
                        <h4>
                            +45 days
                        </h4>
                        <p>
                            미 개봉 + 올바른 보관 시 <strong>유통기한 이후</strong><br>섭취 가능한 날짜, +45일
                        </p>
                    </div>
                    </div>
                    
                    <div class="main_tofu">
                        <img src="image/foods/tofu.jpg" alt="">
                    </div>    
                    
                </div>

            </div>
        </div>

        <!--보관방법-->
        <div class="storage_tofu">
            
            <div class="storage_title_tofu">
                <h3>Storage method</h3>
                <p>How will you store it?</p>
            </div>
 
            <div class="storage">            
                <div class="storage_main_tofu">
                    <div>    
                        <h3>두부 보관 방법</h3>
                        <h4>How to store tofu</h4>
                    </div>
                
                    <p>
                        두부는 냉장보관이 원칙이며 냉동보관을 하는 것도 하나의 방법인데, 냉동보관 시 단백질 함량이 약 6배 이상 높아집니다.
                        얼릴 때는 물을 반 쯤 부어주는 게 두부를 질겨지지 않게 보관하는 방법입니다.<br>
                        사용하고 남은 두부는 녹인 소금물에 두부를 냉장보관하면 신선하고 오래 보관할 수 있습니다.</p>
                        
                </div>
            </div>
        <!--레시피-->
        <div class="recipe_tofu">
            <div class="recipe_title_tofu">
                <h3>Recipes</h3>
                <p>Is the expiration date approaching?</p>
            </div>
            
            <div class="recipe_items_tofu">
                <div class="recipe_item1_tofu">
                    <div class="menu_title">
                        <img src="image/foods/item1_tofu.png">
                        <div class="menu_name">    
                            <h3>단짠단짠 두부조림</h3>
                            <p><strong>재료</strong> 두부 쪽파 전분가루<br>간장·맛술·참치액·올리고당·굴소스
                            </p>
                        </div>
                    </div>
                    <p>1. 양념과 잘게 썬 쪽파를 준비하고 두부를 굽는다.<br>
                        2. 어느 정도 익으면 팬의 기름기를 제거해준다.<br>
                        3. 물 150mL과 전분 1티스푼으로 전분물을 만든다.<br>
                        4. 두부와 준비한 재료를 함께 중불에 조리한다.<br>
                        5. 뒤적거리며 양념이 졸아들 때까지 기다린다.<br>
                        </p>
                </div>
                <div class="recipe_item2_tofu">
                    <div class="menu_title">
                        <img src="image/foods/item2_tofu.png">
                        <div class="menu_name">    
                            <h3>두부달걀부침</h3>
                            <p><strong>재료</strong> 두부 달걀 부침가루<br>간장·참기름·통깨·소금·고춧가루
                            </p>
                        </div>
                    </div>
                    <p>1. 적당한 두께로 썬 두부의 물기를 제거해준다.<br>
                        2. 달걀 3개를 풀고 소금으로 간을 한 계란물을 만든다.<br>
                        3. 준비된 두부에 부침가루를 묻힌 후 계란물에 담군다.<br>
                        4. 계란물을 묻힌 두부를 노륵하게 부쳐준다.<br>
                        5. 양념 재료를 섞어 만든 양념장과 함께 먹는다.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--재활용-->
        <div class="recycling_tofu">
            <div class="recycling_title_tofu">
                <h3>Recycling</h3>
                <p>Is the product past its expiration date?</p>
            </div>
            <div class="recycling_items_tofu">
                <div class="recycling_item1_tofu">
                    <div class="menu_title">
                        <div class="menu_name">    
                            <h3>두부 미백 팩</h3>
                            <h4>Tofu Whitening pack</h4>
                        </div>
                        <img src="image/foods/item3_tofu.png">
                    </div>
                    <p>으깨어 물기를 짠 두부와 꿀을 섞어 거즈에 올려 팩을 합니다.
약 15분 후에 헹구어냅니다. 두부에 있는 사포닌이 활성산소를 엊게하여 피부 색소 침착을 예방합니다.
또한 얼룩덜룩한 피부 톤을 정리하는 데 도움을 줍니다.</p>

                </div>
            </div>
        </div>

        <!--꾸미기-->        
        <div class="page_tofu">
            <div class="page_tofu1">
                <img src="image/foods/tofu_page1.png">
            </div>
            <div class="page_tofu2">
                <img src="image/foods/tofu_page2.png">
            </div>
        </div>

    </div>
</body>


<%- include ('./tail') %>