<%- include ('./head') %>
<link rel="stylesheet" href="/css/pages/egg.css">

<body>
    <%- include ('./header') %>
    <div class="wrap_egg">
        
        <!--visual-->
        <div class="visual_egg">
            <div class="background_egg">

                <div class="visual_text_egg">

                    
                    <div class="explain_egg">
                        <p>
                            #노래의비결 #단백질 #필수반찬
                        </p>
                        <h2>
                            달걀
                        </h2>
                        <h3>
                            egg
                        </h3>
                    <div class="dates_egg">
                        <h4>
                            +25 days
                        </h4>
                        <p>
                            미 개봉 + 올바른 보관 시 <strong>유통기한 이후</strong><br>섭취 가능한 날짜, +25일
                        </p>
                    </div>
                    </div>
                    
                    <div class="main_egg">
                        <img src="image/foods/egg.jpg" alt="">
                    </div>    
                    
                </div>

            </div>
        </div>

        <!--보관방법-->
        <div class="storage_egg">
            
            <div class="storage_title_egg">
                <h3>Storage method</h3>
                <p>How will you store it?</p>
            </div>
 
            <div class="storage">            
                <div class="storage_main_egg">
                    <div>    
                        <h3>달걀 보관 방법</h3>
                        <h4>How to store egg</h4>
                    </div>
                
                    <p>숨구멍이 있는 둥근 부분을 위로, 뾰족한 부분을 아래로 향하게 세워 보관하는 것이 좋습니다.<br>
                        구매 후 계란 용기를 따로 구매하여 이에 담아 보관하는 것을 추천합니다.
                        냉장고 문쪽보다는 온도차이가 <br> 상대적으로 적은 냉장고 안쪽에,
                        냄새를 잘 먹기 때문에 냄새가 강한 식품과 떨어뜨려 보관하는 것이 좋습니다.</p>
            
                </div>
            </div>
        <!--레시피-->
        <div class="recipe_egg">
            <div class="recipe_title_egg">
                <h3>Recipes</h3>
                <p>Is the expiration date approaching?</p>
            </div>
            
            <div class="recipe_items_egg">
                <div class="recipe_item1_egg">
                    <div class="menu_title">
                        <img src="image/foods/item1_egg.png">
                        <div class="menu_name">    
                            <h3>장조림</h3>
                            <p><strong>재료</strong> 달걀 양파 대파 마늘 생강 간장 설탕 올리고당 맛술 후춧가루 참기름</p><br>
                        </div>
                    </div>
                    <p>
                        1. 차지 않은 달걀을 소금을 반 큰술과 11분 간 끓인다.<br>
                        2. 양파를 반으로 자른 후 큼직하게 썰어준다.<br>
                        3. 마늘은 2,3 등분으로 편 썰어준다.<br>
                        4. 진간장, 설탕, 올리고당, 맛술, 후춧가루를 섞는다.<br>
                        5. 삶은 계란을 찬물에 헹궈 식혀준다.<br>
                        6. 계란의 물기를 제거한 후 껍질을 제거해 준다<br>
                        7. 달걀, 양파, 대파, 양념장을 강불로 끓인다.<br>
                        8. 국물을 끼얹으며 양념이 자작해질 때까지 조려준다.<br>
                        9. 참기름을 둘러준다</p>
                </div>
                <div class="recipe_item2_egg">
                    <div class="menu_title">
                        <img src="image/foods/item2_egg.png">
                        <div class="menu_name">    
                            <h3>전자렌지 달걀찜</h3>
                            <p><strong>재료</strong> 달걀 다진야채 소금 새우젓 우유 참기름 마요네즈</p><br>
                        </div>
                    </div>
                    <p>1. 달걀 3개를 깨서 우유, 마요네즈와 섞는다.<br>
                        2. 체에 걸러 고운 달걀 물을 만든다.<br>
                        3. 소금과 새우젓으로 간을 하고 참기름을 넣는다.<br>
                        4. 다진 야채를 넣고 섞은 후 랩으로 덮는다.<br>
                        5. 포크로 구멍 몇 개를 내고 전자렌지에 5분 돌린다.
                    </div>
                </div>
            </div>
        </div>

        <!--재활용-->
        <div class="recycling_egg">
            <div class="recycling_title_egg">
                <h3>Recycling</h3>
                <p>Is the product past its expiration date?</p>
            </div>
            <div class="recycling_items_egg">
                <div class="recycling_item1_egg">
                    <div class="menu_title">
                        <div class="menu_name">    
                            <h3>달걀 헤어 팩</h3>
                            <h4>egg Hair pack</h4>
                        </div>
                        <img src="image/foods/item3_egg.png">
                    </div>
                    <p>
                        손상이 심한 머리카락에 특히 효능이 좋습니다.<br>
                        모발 끝과 모발에 집중적으로 발라주고 10분 방치한 후 씻어냅니다.<br>
                        두피에 바르면 두피에 있는 모공이 기름질 수 있어서 두피에 바르지 않습니다.
                    </p>
                </div>
                <div class="recycling_item2_egg">
                    <div class="menu_title">
                        <div class="menu_name">    
                            <h3>달걀 모공 팩</h3>
                            <h4>egg Pore pack</h4>
                            <p>
                                계란 흰자만을 이용하여, 거품기로 거품을 내어주고 사용합니다.<br>
                                스팀타월로 모공을 열어준 후 팩을 얼굴에 바르고 10~15분 기다린 후 세안합니다.
                            </p>
                        </div>
                        <img class="menu_img" src="image/foods/item4_egg.png">

                    </div>
                </div>
            </div>
        </div>

        <!--꾸미기-->        
        <div class="page_egg">
            <div class="page_egg1">
                <img src="image/foods/egg_page1.png">
            </div>
            <div class="page_egg2">
                <img src="image/foods/egg_page2.png">
            </div>
            <div class="page_egg3">
                <img src="image/foods/egg_page3.png">
            </div>    
            <div class="page_egg4">
                <img src="image/foods/egg_page4.png">
            </div>    
        </div>

    </div>
</body>

<%- include ('./tail') %>