
<header>
    <a href="#">
        <div class="logo">
            <img src="#" alt="Foodprint_logo"/>
        </div>
    </a>
    <a href="#">소개</a>
    <a href="#">체크해보세요</a>
    <a href="#">당신의발걸음</a>

</header>