<link rel="stylesheet" href="css/header.css">
<header>
    <div class="header" id="hd">
        <div class="logo logo-pc">
            <a href="/">
                <img src="image/logo.png" alt="Foodprint_logo"/>
            </a>
        </div>
        <div class="logo logo-mobile">
            <a href="/">
                <img src="image/logo-small.png" alt="Foodprint_logo" />
            </a>
        </div>
        <ul class="gnb">
            <li><a href="#">소개</a></li>
            <li><a href="#">체크해보세요</a></li>
            <li><a href="#">FNQ</a></li>
        </ul>
        <ul class="gnb2">
            <li><a href="#">소개</a></li>
            <li><a href="#">체크해보세요</a></li>
            <li><a href="#">FNQ</a></li>
        </ul>
        <div class="search">
            <div class="s_search">
                <form action="/search" method="get" URIEncoding="utf-8">
                    <input type="text" name="food" placeholder="Search Keyword"/>
                    <button type="submit" class="search_link">
                        <img src="image/search1.png" width="30px"/>
                </button>
                </form>
               
            </div>
        </div>
        <div class="gnb-btn-area">
            <button type="button" class="gnb-menu-btn" title="전체메뉴" aria-label="전체메뉴 열기"></button>
        </div>
    </div>
</header>