<%- include ('./head') %>
<link rel="stylesheet" href="css/search.css">

<body>
    <%- include ('./header') %>
    <div class="wrap">
        <div class="foodsearch">
            <h1>서치결과<%-searching%></h1>
            <!-- 서치결과 보여주고 링크 걸어주기-->
        </div>
    </div>
</body>
<%- include ('./tail') %>