<%- include ('./head') %>
<link rel="stylesheet" href="/css/pages/yogurt.css">

<body>
    <%- include ('./header') %>
    <div class="wrap_yogurt">

       
            <!--visual-->
        <div class="visual_yogurt">
            <div class="container">
                <div class="explain_yogurt">
                    <p>
                        #우유의선물 #그릭요거트 #요구르트
                    </p>
                    <h2>
                        요거트
                    </h2>
                    <h3>
                        yogurt
                    </h3>
                <div class="dates_yogurt">
                    <h4>
                        10 days
                    </h4>
                    <p>
                        냉장보관 시 유통기한 이후<br>섭취 가능한 소비기한, 10일
                    </p>
                </div>
                </div>
                <div class="main_yogurt">
                    <img src="image/foods/yogurt.jpg" alt="">
                </div>
            </div>
            <div class="background_yogurt">
                <img src="image/foods/yogurt_full.jpg" alt="">
            </div>
        </div>

        <!--레시피-->
        <div class="container">
        <div class="recipe_yogurt">
            <div class="recipe_title_yogurt">
                <h3>Recipes</h3>
                <p>Is the expiration date approaching?</p>
            </div>
            
            <div class="recipe_items_yogurt">
                <div class="recipe_item1_yogurt">
                </div>
                <div class="recipe_item2_yogurt">
                </div>
            </div>

            <div class="page_yogurt">
                <img src="image/foods/yogurt_page2.png" alt="">
            </div>
        </div>

        <!--재활용-->
        <div class="recycling_yogurt">

            <div class="recycling_title_yogurt">
                <h3>Recycling</h3>
                <p>Is the product past its expiration date?</p>
            </div>

            
            <div class="recycling_items_yogurt">
                <div class="recycling_item_yogurt">
                </div>
            </div>
            
            <div class="page_yogurt">
                <div class="page_yogurt1">
                    <img src="image/foods/yogurt_page1.png">
                </div>
                <div class="page_yogurt2">
                    <img src="image/foods/yogurt_page.png">
                </div>
            </div>
        </div>

    </div>
        </div>
</body>

<%- include ('./tail') %>