<%- include ('./head') %>
<link rel="stylesheet" href="/css/pages/yogurt.css">

<body>
    <%- include ('./header') %>
    <div class="wrap_yogurt">
        
        <!--visual-->
        <div class="visual_yogurt">
            <div class="background_yogurt">

                <div class="visual_text_yogurt">

                    
                    <div class="explain_yogurt">
                        <p>
                            #우유의선물 #그릭요거트 #플레인요거트
                        </p>
                        <h2>
                            요거트
                        </h2>
                        <h3>
                            yogurt
                        </h3>
                    <div class="dates_yogurt">
                        <h4>
                            +10 days
                        </h4>
                        <p>
                            미 개봉 + 올바른 보관 시 <strong>유통기한 이후</strong><br>섭취 가능한 날짜, +10일
                        </p>
                    </div>
                    </div>
                    
                    <div class="main_yogurt">
                        <img src="image/foods/yogurt.jpg" alt="">
                    </div>    
                    
                </div>

            </div>
        </div>

        <!--보관방법-->
        <div class="storage_yogurt">
            
            <div class="storage_title_yogurt">
                <h3>Storage method</h3>
                <p>How will you store it?</p>
            </div>
 
            <div class="storage">            
                <div class="storage_main_yogurt">
                    <div>    
                        <h3>요거트 보관 방법</h3>
                        <h4>How to store yogurt</h4>
                    </div>
                
                    <p>구매 즉시 냉장 보관이 주 원칙입니다. 요거트는 한두 달까지는 얼려 보관해도 맛이 변하지 않습니다.<br>
                    따라서 한번에 구매한 양이 많아 빠른 시일 내에 섭취하기 힘들 때는 냉동실에 넣어 보관할 수 있습니다.</p>
            
                </div>
            </div>
        <!--레시피-->
        <div class="recipe_yogurt">
            <div class="recipe_title_yogurt">
                <h3>Recipes</h3>
                <p>Is the expiration date approaching?</p>
            </div>
            
            <div class="recipe_items_yogurt">
                <div class="recipe_item1_yogurt">
                    <div class="menu_title">
                        <img src="image/foods/item1_yogurt.png">
                        <div class="menu_name">    
                            <h3>블루베리 샐러드</h3>
                            <p><strong>재료</strong> 요거트 양상추 블루베리 딸기 꿀</p><br>
                        </div>
                    </div>
                    <p>1. 씻은 양상추를 먹기 좋은 크기로 찢는다.<br>
                    2. 준비한 블루베리 절반을 믹서에 간다.<br>
                    3. 간 블루베리와 요거트를 섞어서 그릇 바닥에 쌓는다.<br>
                    4. 준비한 양상추와 블루베리와 딸기를 쌓는다.<br>
                    5. 기호에 맞는 양만큼 꿀을 둘러준다.</p>
                </div>
                <div class="recipe_item2_yogurt">
                    <div class="menu_title">
                        <img src="image/foods/item2_yogurt.png">
                        <div class="menu_name">    
                            <h3>요거트 에이드</h3>
                            <p><strong>재료</strong> 요거트 꽃소금 탄산수 과일</p><br>
                        </div>
                    </div>
                    <p>1. 준비한 컵에 요거트를 5숟갈 넣는다.<br>
                    2. 꽃소금을 한 꼬집 넣어 간을 맞춘다.<br>
                    3. 탄산수를 절반 가량 부은 후 숟가락으로 젓는다.<br>
                    4. 거품이 올라왔으면 컵의 끝까지 탄산수를 채워준다.<br>
                    5. 원하는 과일이나 시리얼을 올려 마무리 한다.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--재활용-->
        <div class="recycling_yogurt">
            <div class="recycling_title_yogurt">
                <h3>Recycling</h3>
                <p>Is the product past its expiration date?</p>
            </div>
            <div class="recycling_items_yogurt">
                <div class="recycling_item1_yogurt">
                    <div class="menu_title">
                        <div class="menu_name">    
                            <h3>요거트 헤어 팩</h3>
                            <h4>Yogurt Hair pack</h4>
                        </div>
                        <img src="image/foods/item3_yogurt.png">
                    </div>
                    <p>요거트와 꿀을 2 : 1 비율로 섞어 바른 후 20분 정도 후에 물로 헹구면 됩니다
                    요거트에는 단백질과 철분이 풍부하게 함유되어 있고, 꿀은 보습효과를 가지고 있어,
                    머리카락에 윤기를 줄 수 있는 헤어팩을 만들 수 있습니다.
                    </p>
                </div>
                <div class="recycling_item2_yogurt">
                    <div class="menu_title">
                        <div class="menu_name">    
                            <h3>요거트 촉감놀이</h3>
                            <h4>Yogurt Tactile play</h4>
                            <p>요거트를 이용하여 아이와 함께 촉감놀이를 진행할 수 있습니다. 촉감놀이는 아이의 소근육과 뇌 발달을 촉진, 정서적으로도 도움이 됩니다.
                            </p>
                        </div>
                        <img class="menu_img" src="image/foods/item4_yogurt.png">

                    </div>
                </div>
            </div>
        </div>

        <!--꾸미기-->        
        <div class="page_yogurt">
            <div class="page_yogurt1">
                <img src="image/foods/yogurt_page1.png">
            </div>
            <div class="page_yogurt2">
                <img src="image/foods/yogurt_page2.png">
            </div>
            <div class="page_yogurt3">
                <img src="image/foods/yogurt_page3.png" alt="">
            </div>    
        </div>

    </div>
</body>


<%- include ('./tail') %>

