body {
  overflow-x: hidden;
}

/* milk */
.wrap_milk {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
  overflow: hidden;
}


/* milk_visual */
.background_milk{
  display: absolute;
  width: 100vw;
  height: 600px;
  background-image: url(/image/foods/milk_full.jpg);
  background-size: cover;
  opacity: 0.8;
}

.visual_text_milk {
  opacity: 1;
}
.visual_milk .visual_text_milk .explain_milk {
  position: absolute;
  margin-top: 120px;
  right: 65%;
  z-index: 1;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #ccbb5d;
}
.visual_milk .explain_milk p {
  font-style: oblique;
}
.visual_milk .explain_milk h2 {
  font-size: 60px;
}
.visual_milk .explain_milk h3 {
  font-size: 30px;
}
.visual_milk .dates_milk {
  position: absolute;
  top: 170%;
  white-space: nowrap;
}
.visual_milk .dates_milk h4 {
  font-size: 55px;
  top: 50%;
}
.visual_milk .dates_milk p {
  font-size: 17px;
  text-align: left;
}

.visual_milk .main_milk img {
  position: absolute;
  margin-top: 120px;
  left: 65%;
  border-radius: 5%;
  height: 330px;
  width: 250px;
  object-fit: cover;
  z-index: 1;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

/* milk_storage */
.storage_milk {
  position: relative;
  margin: 70px 0px 70px 0px;
}
.storage_milk .storage_title_milk {
  margin: 0px 0px 40px 0px;
  text-align: center;
  line-height: 2;
}
.storage_milk .storage_title_milk h3 {
  font-size: 40px;
}
.storage_milk .storage_title_milk p {
  font-size: 15px;
}
.storage_milk .storage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.storage_main_milk {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 350px;
  width: 1160px;
  margin: 40px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.storage_main_milk div{
  margin: 45px 60px 40px 60px;
  font-size: 30px;
}
.storage_main_milk P {
  margin-left: 60px;
  font-size: 23px;
  line-height: 2;
}





/* milk_recipe */

.recipe_milk {
  position: relative;
  margin: 70px 0px 70px 0px;
}
.recipe_milk .recipe_title_milk {
  margin: 0px 0px 40px 0px;
  text-align: center;
  line-height: 2;
}
.recipe_milk .recipe_title_milk h3 {
  font-size: 40px;
}
.recipe_milk .recipe_title_milk p {
  font-size: 15px;
  color: rgb(116, 116, 116);
}
.recipe_milk .recipe_items_milk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe_milk .recipe_items_milk .recipe_item1_milk {
  width: 550px;
  height: 660px;
  margin: 30px 30px 0px 30px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.recipe_milk .recipe_items_milk .recipe_item2_milk {
  width: 550px;
  height: 500px;
  margin: 30px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.recipe_milk .recipe_items_milk p {
  margin: 30px 50px 50px 50px;
  line-height: 2;
  font-size: 20px;
}
.recipe_milk .recipe_items_milk .menu_title {
  display: flex;
  margin: 20px 20px 0 20px;
}
.recipe_milk .recipe_items_milk .menu_name h3 {
  margin: 30px 10px 10px 10px;
  font-size: 36px;
}
.recipe_milk .recipe_items_milk .menu_name p {
  margin: 30px 10px 10px 10px;
  line-height: 2;
  font-size: 18px;
}

.recipe_milk .recipe_items_milk .recipe_item1_milk .menu_title img {
  margin: 20px 20px 0px 10px;
  width: 170px;
  height: 170px;
}
.recipe_milk .recipe_items_milk .recipe_item2_milk .menu_title img {
  margin: 10px;
  width: 180px;
  height: 180px;
}
.recipe_milk .recipe_items_milk .recipe_item2_milk .menu_name {
  margin: 0px 0px 0px 30px;
}

/* milk_recycling */
.recycling_milk {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-self: right;
  margin: 0px 140px 70px 140px;
}
.recycling_milk .recycling_title_milk {
  margin-right: 60px;
  margin-bottom: 30px;
  text-align: right;
  line-height: 2;
}
.recycling_milk .recycling_title_milk h3 {
  font-size: 40px;
}
.recycling_milk .recycling_title_milk p {
  font-size: 15px;
  color: rgb(116, 116, 116);
}
.recycling_milk .recycling_items_milk {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
}
.recycling_milk .recycling_items_milk .recycling_item1_milk {
  height: 450px;
  width: 800px;
  margin: 40px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: 400px;
}
.recycling_milk .recycling_items_milk .recycling_item1_milk .menu_title {
  display: flex;
  margin: 30px;
  margin-bottom: 50px;
  flex-direction: row;
}
.recycling_milk
  .recycling_items_milk
  .recycling_item1_milk
  .menu_title
  img {
  height: 200px;
  width: auto;
}
.recycling_milk
  .recycling_items_milk
  .recycling_item1_milk
  .menu_title
  h3 {
  margin: 30px 200px 0px 30px;
  font-size: 40px;
}
.recycling_milk
  .recycling_items_milk
  .recycling_item1_milk
  .menu_title
  h4 {
  margin: 5px 60px 20px 30px;
  font-size: 25px;
}
.recycling_milk .recycling_items_milk .recycling_item2_milk .menu_title {
  display: flex;
  margin: 30px;
  margin-bottom: 50px;
  flex-direction: row;
}
.recycling_milk
  .recycling_items_milk
  .recycling_item2_milk
  .menu_title
  img {
  height: 200px;
  width: auto;
  margin: 40px 30px 40px 30px;
}
.recycling_milk
  .recycling_items_milk
  .recycling_item2_milk
  .menu_title
  h3 {
  margin: 30px 100px 0px 30px;
  font-size: 40px;
}
.recycling_milk
  .recycling_items_milk
  .recycling_item2_milk
  .menu_title
  h4 {
  margin: 5px 60px 40px 30px;
  font-size: 25px;
}

.recycling_milk .recycling_items_milk .recycling_item1_milk p {
  margin: 0px 40px 0px 60px;
  font-size: 21px;
  line-height: 2;
}
.recycling_milk .recycling_items_milk .recycling_item2_milk p {
  margin: 10px 40px 0px 30px;
  font-size: 21px;
  line-height: 2;
}
.recycling_milk .recycling_items_milk .recycling_item2_milk {
  height: 350px;
  width: 1160px;
  margin: 40px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 배경 꾸미기 */
.page_milk .page_milk1 {
  position: absolute;
  top: 2000px;
  left: 750px;
}
.page_milk .page_milk2 {
  position: absolute;
  top: 1250px;
  left: -100px;
}
.page_milk .page_milk3 {
  position: absolute;
  top: 800px;
  left: 1000px;
}
.page_milk .page_milk4 {
  position: absolute;
  top: 2400px;
  left: 0px;
}
.page_milk .page_milk1 img {
  width: 400px;
  height: auto;
}
.page_milk .page_milk2 img {
  width: 350px;
  height: auto;
}
.page_milk .page_milk3 img {
  width: 300px;
  height: auto;
}
.page_milk .page_milk4 img {
  width: 500px;
  height: auto;
}



@media screen and (max-width: 1400px) {
  .page_milk {
    display: none;
  }
}
/*@media screen and (max-width: 1500px) {
  * {
    display: none;
  }
  * {
    해당 페이지는 확대 및 축소가 되지 않습니다. 제발,,
  }
}
