body {
  overflow-x: hidden;
}

/* tofu */
.wrap_tofu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
  overflow: hidden;
}


/* tofu_visual */
.background_tofu{
  display: absolute;
  width: 100vw;
  height: 600px;
  background-image: url(/image/foods/tofu_full.jpg);
  background-size: cover;
  opacity: 0.8;
}

.visual_text_tofu {
  opacity: 1;
}
.visual_tofu .visual_text_tofu .explain_tofu {
  position: absolute;
  margin-top: 120px;
  right: 65%;
  z-index: 1;
  color: rgb(255, 255, 255);
}
.visual_tofu .explain_tofu p {
  font-style: oblique;
}
.visual_tofu .explain_tofu h2 {
  font-size: 60px;
}
.visual_tofu .explain_tofu h3 {
  font-size: 30px;
}
.visual_tofu .dates_tofu {
  position: absolute;
  top: 170%;
  white-space: nowrap;
}
.visual_tofu .dates_tofu h4 {
  font-size: 55px;
  top: 50%;
}
.visual_tofu .dates_tofu p {
  font-size: 17px;
  text-align: left;
}

.visual_tofu .main_tofu img {
  position: absolute;
  margin-top: 120px;
  left: 65%;
  border-radius: 5%;
  height: 330px;
  width: 250px;
  object-fit: cover;
  z-index: 1;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

/* tofu_storage */
.storage_tofu {
  position: relative;
  margin: 70px 0px 70px 0px;
}
.storage_tofu .storage_title_tofu {
  margin: 0px 0px 40px 0px;
  text-align: center;
  line-height: 2;
}
.storage_tofu .storage_title_tofu h3 {
  font-size: 40px;
}
.storage_tofu .storage_title_tofu p {
  font-size: 15px;
}
.storage_tofu .storage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.storage_main_tofu {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 350px;
  width: 1160px;
  margin: 40px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.storage_main_tofu div{
  margin: 45px 60px 40px 60px;
  font-size: 30px;
}
.storage_main_tofu P {
  margin-left: 60px;
  font-size: 23px;
  line-height: 2;
}





/* tofu_recipe */

.recipe_tofu {
  position: relative;
  margin: 70px 0px 70px 0px;
}
.recipe_tofu .recipe_title_tofu {
  margin: 0px 0px 40px 0px;
  text-align: center;
  line-height: 2;
}
.recipe_tofu .recipe_title_tofu h3 {
  font-size: 40px;
}
.recipe_tofu .recipe_title_tofu p {
  font-size: 15px;
  color: rgb(116, 116, 116);
}
.recipe_tofu .recipe_items_tofu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe_tofu .recipe_items_tofu .recipe_item1_tofu {
  width: 550px;
  height: 480px;
  margin: 30px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.recipe_tofu .recipe_items_tofu .recipe_item2_tofu {
  width: 550px;
  height: 480px;
  margin: 30px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.recipe_tofu .recipe_items_tofu p {
  margin: 30px 50px 50px 50px;
  line-height: 2;
  font-size: 20px;
}
.recipe_tofu .recipe_items_tofu .menu_title {
  display: flex;
  margin: 20px 20px 0 20px;
}
.recipe_tofu .recipe_items_tofu .menu_name h3 {
  margin: 30px 10px 10px 10px;
  font-size: 36px;
}
.recipe_tofu .recipe_items_tofu .menu_name p {
  margin: 30px 10px 10px 10px;
  font-size: 18px;
}

.recipe_tofu .recipe_items_tofu .recipe_item1_tofu .menu_title img {
  margin: 10px 10px 10px 10px;
  width: 170px;
  height: 170px;
}
.recipe_tofu .recipe_items_tofu .recipe_item2_tofu .menu_title img {
  width: 200px;
  height: auto;
}
.recipe_tofu .recipe_items_tofu .recipe_item1_tofu .menu_name {
  margin: 0px 0px 0px 10px;
}

/* tofu_recycling */
.recycling_tofu {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-self: left;
  margin: 70px 140px 70px 140px;
}
.recycling_tofu .recycling_title_tofu {
  margin-left: 60px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 2;
}
.recycling_tofu .recycling_title_tofu h3 {
  font-size: 40px;
}
.recycling_tofu .recycling_title_tofu p {
  font-size: 15px;
  color: rgb(116, 116, 116);
}
.recycling_tofu .recycling_items_tofu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
}
.recycling_tofu .recycling_items_tofu .recycling_item1_tofu {
  height: 450px;
  width: 800px;
  margin: 40px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.recycling_tofu .recycling_items_tofu .recycling_item1_tofu .menu_title {
  display: flex;
  margin: 30px;
  margin-bottom: 50px;
  flex-direction: row;
}
.recycling_tofu
  .recycling_items_tofu
  .recycling_item1_tofu
  .menu_title
  img {
  height: 200px;
  width: auto;
}
.recycling_tofu
  .recycling_items_tofu
  .recycling_item1_tofu
  .menu_title
  h3 {
  margin: 30px 200px 0px 30px;
  font-size: 40px;
}
.recycling_tofu
  .recycling_items_tofu
  .recycling_item1_tofu
  .menu_title
  h4 {
  margin: 5px 60px 20px 30px;
  font-size: 25px;
}
.recycling_tofu .recycling_items_tofu .recycling_item2_tofu .menu_title {
  display: flex;
  margin: 30px;
  margin-bottom: 50px;
  flex-direction: row;
}
.recycling_tofu
  .recycling_items_tofu
  .recycling_item2_tofu
  .menu_title
  img {
  height: 200px;
  width: auto;
  margin: 40px 30px 40px 30px;
}
.recycling_tofu
  .recycling_items_tofu
  .recycling_item2_tofu
  .menu_title
  h3 {
  margin: 30px 100px 0px 30px;
  font-size: 40px;
}
.recycling_tofu
  .recycling_items_tofu
  .recycling_item2_tofu
  .menu_title
  h4 {
  margin: 5px 60px 40px 30px;
  font-size: 25px;
}

.recycling_tofu .recycling_items_tofu .recycling_item1_tofu p {
  margin: 0px 40px 0px 60px;
  font-size: 21px;
  line-height: 2;
}
.recycling_tofu .recycling_items_tofu .recycling_item2_tofu p {
  margin: 10px 40px 0px 30px;
  font-size: 21px;
  line-height: 2;
}
.recycling_tofu .recycling_items_tofu .recycling_item2_tofu {
  height: 350px;
  width: 1160px;
  margin: 40px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 배경 꾸미기 */
.page_tofu .page_tofu1 {
  position: absolute;
  top: 1200px;
  left: -50;
}
.page_tofu .page_tofu2 {
  position: absolute;
  top: 2100px;
  left: 1150px;
}
.page_tofu .page_tofu3 {
  position: absolute;
  top: 1100px;
  left: -270px;
}
.page_tofu .page_tofu1 img {

}

@media screen and (max-width: 1400px) {
  .page_tofu {
    display: none;
  }
}
/*@media screen and (max-width: 1500px) {
  * {
    display: none;
  }
  * {
    해당 페이지는 확대 및 축소가 되지 않습니다. 제발,,
  }
}
